@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primarytextcolor: #232e35; /* dark blue, for title or heading */
    --secondarytextcolor: #656d72; /* dark gray, for regular text like paragraph */
    --bordercolor: #f1f1f1;
    --linecolor: #d9d9d9; /* for line or divider */
    --primaryiconcolor: #7e74f1; /* blue, for icon */
    --primaryiconcolorHover: #5d51e8;
    --sectionPadding: 6rem 0;
    --itemborderradius: 0.7rem;
    --primarybackgroundcolor: #fff;
    --secondarybackgroundcolor: #fbfbfb;
    --thirdbackgroundcolor: #f5f3fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primarytextcolor);
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondarytextcolor);
}

a {
    text-decoration: none;
}

.main-container { /* to provide space between sections */
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* button */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--bordercolor);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}


.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondarytextcolor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--linecolor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* layout */
.grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* logo and navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primarytextcolor);
}

.nav ul li a {
    color: var(--primarytextcolor);
}
.nav ul li {
    display: flex;
    align-items: center;
}

.nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
}
/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* hero */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-title span {
    color: var(--primaryiconcolor);
}

.hero-right img {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

/* services */
#services {
    background-color: var(--secondarybackgroundcolor);
    padding: var(--sectionpadding);
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primarybackgroundcolor);
    border-radius: var(--itemborderradius);
   
}

.service h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdbackgroundcolor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: var(--primaryiconcolor);
    
}

/* portofolio */
#portofolio{
    padding: var(--sectionPadding);
}
.portofolio{
    border-radius: var(--itemborderradius);
    overflow: hidden;   
}

.portofolio-cover{
    height: 250px;
}

.portofolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portofolio-info{
    padding: 2rem 1.5rem;
}

.portofolio-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portofolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portofolio-title a svg:hover {
    fill: var(--primaryiconcolorHover);
}

.portofolio-title a svg {
    transition: 0.2s ease-in-out;
}

.portofolio-tags{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portofolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--bordercolor);
    padding: .4rem 1rem;
    color: var(--secondarytextcolor);
}

/* skills & education */
#skills {
    padding: var(--sectionPadding);
    background: var(--secondarybackgroundcolor);
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;

}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 .7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--bordercolor);
    position: relative;
}

.ducation-info p{
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom:3rem;
}

/* the dot on the line */
.education .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--bordercolor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
    
}

.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-riht ul{
    line-height: 2rem;
    padding: 0 1rem;
}

/* contact  section*/
#contact{
    padding: var(--sectionPadding);
}

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondarybackgroundcolor);
    border: 1px solid var(--bordercolor);
    border-radius: 3px;
    resize: none;
}

.contact-from input::placeholder,
.contact-from textarea::placeholder {
    color: #9d9fa1;
}

.contact-from input:focus,
.contact-from textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryiconcolor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryiconcolorHover);
}

.contact-item{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    
}

.contact-item-icon{
    background: var(--thirdbackgroundcolor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.contact-item-icon svg {
    fill: var(--primaryiconcolor);
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}
   
/* footer */
footer {
    padding: 4rem 0;
    background: var(--secondarybackgroundcolor);
    text-align: center;
}

.footer-icons{
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 .5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: #000;
}
